@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: Roboto, sans-serif;
}

.table td,
.table th {
  padding: 0.5rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.btn {
  font-size: 0.8rem;
  font-weight: normal;
}

.table {
  font-size: 0.9rem;
}

.col-md-3 .btn {
  font-size: 1rem;
}

a.nav-link,
a.dropdown-item {
  font-size: 1rem;
}

.modal label {
  font-size: 0.9rem;
}

.modal button {
  font-size: 0.9rem;
}

.modal .modal-title {
  font-size: 1.5rem;
}

input.form-control {
  font-size: 0.9rem;
}

select.form-control {
  font-size: 0.9rem;
}

.form-check {
  font-size: 1rem;
}

#main-footer {
  font-weight: 100;
}
